
.title-row {
    background-color: var(--bg-header);
    padding: 10px 0;
    border-top: 5px solid var(--color-purple);
    border-bottom: 5px solid var(--color-purple);
}

.title-row__content {
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.title-row__title {
    color: var(--color-white);
    font-family:var(--font-base);
    font-size: 20px;
}